/* Default */


body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	font-size: 16px;
	background-color: #ffffff;
	color: #000;
	font-family: "Poppins", sans-serif;
}

a {
	color: #89969e;
	text-decoration: none;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #747474;
}


li {
	list-style-type: none;
}

ul {
	padding-inline-start: 0px;
}

code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Structural */

.grid {
	gap: 3em;
	display: grid;
}

.grid--two-col {
	grid-template-columns: 1fr 1fr;
}

.grid--three-col {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid--four-col {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-card {
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 1em;
}

.grid--one-col .grid-card {
	margin-bottom: 2em;
}

.grid-item-space-right {
	padding-right: 3em;
}

.align-center {
	align-items:center;
}

.container {
	padding: 5em 10em;
}

.nav {
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding: 1.5em 7em;
}

.link-nav {
	padding-left: 2em;
}

nav .link-button {
	padding-left: 2em;

}

/* Components */

.hero {
	height: 50vh;
}

.img-hero {
	position: relative;
	width: 450px;
	float:right;
	margin-right: 10%;
	margin-bottom: 4em;
}

.heading-hero {
	position: absolute;
	width: 50%;
	margin-top: 12vh;
}

video {
	width: 100%;
}

.video-showreel {
	position:relative;
}

.card-large {
	width: 700px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	position: absolute;
	background: #fff;
	margin-top: -10em;
	padding: 1em 3em;
}

.container-skills {
	margin-top: 7em;
}

.container-bg-dark {
	background: #23242b;
}

.text-light {
	color:#fff;
}

.img-single {
	width: 50%;
	height: auto;
	border: 1px solid #ddd;
}

.img-project {
	width: 100%;
}

.img-logo {
	height: 7vh;
}

.img {
	max-width: 100%;
}

.heading--page-title {
	padding-bottom: 1rem;
}

h1,h2,h3 {
	font-weight:500;
}

h1 {
	font-size: 54px;
	margin:0;
	letter-spacing:-0.04em;
}

h2 {
	font-size: 32px;

}

p, a {
	font-weight: 300;
	letter-spacing: 0.05em;
}



.text--lead-paragraph {
	font-size: 1.25em;
}

.link-title {
	font-weight:300;
	color:#55616a;
}

.link {
	font-weight:300;
	color:#000;
}

.link-light {
	color:#fff;
}




.link-large {
	color: #000;
	font-size: 1.25em;
	border-bottom: 2px solid #bbc4d2;
}

.link-card {
	border-bottom: 2px solid #bbc4d2;
}

h4 {
	margin: 0em;
}

.link p {
	margin: 0;
}

.link-small {
	color: #000;
	border-bottom: 2px solid #bbc4d2;
}

.list-dashed-item {
	font-weight: 500;
}

.list-dashed-item::before {
	content:"—";
	color: #bbc4d2;
	margin-right: 7px;
}


section.main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}