/* Default */


body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	font-size: 17px;
	background-color: #ffffff;
	color: #000;
	font-family: "DM Sans", sans-serif;
}

a {
	color: #89969e;
	text-decoration: none;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}


li {
	list-style-type: none;
}

ul {
	padding-inline-start: 0px;
}

code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Structural */

.grid {
	gap: 3em;
	display: grid;
}

.grid--two-col {
	grid-template-columns: 1fr 1fr;
}

.grid--three-col {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid--four-col {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-card {
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 1em;
}

.grid--one-col .grid-card {
	margin-bottom: 2em;
}


.grid-item-space-right {
	padding-right: 3em;
}

.align-center {
	align-items:center;
}

.container {
	padding: 5em 10em;
}

.container-footer {
	padding: 3em 7em;
	align-items: center;
}

.nav {
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding: 1.5em 7em;
}

.link-nav {
	margin-left: 2em;
}

nav .link-button {
	margin-left: 2em;
	color: #fff;
	background: #22262a;
	padding: 0.5em 0.75em;

}

/* Menu */

.header {
	margin: auto;
	padding: 2em 10em;
	vertical-align: middle;
  
  	margin: 0;
	padding-top: 0.5em;
	list-style: none;
	overflow: hidden;
  }

  
  
  .header .logo {
	display: block;
	float: left;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #000;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }

  .youtube:after {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20159.00691%20111.60904%22%3E%3Cpath%20d%3D%22M36.2%20111c-25-1.3-29.6-4-34-18.6C.3%2086.7%200%2080%200%2057.4%200%2019%202.3%209.7%2013.6%204c11.5-5.6%20120-5.6%20131.4%200%206%203%2010%208.7%2011.8%2017.2%202%209.8%203%2042.2%201.5%2057.5-2%2020.4-7%2028.5-19.2%2030.8-7.6%201.5-82%202.4-102.8%201.3zM85%2065.3c11.3-6%2020.4-11%2020.3-11L84%2043%2063%2032v22c0%2012%20.4%2022%20.8%2022%20.3%200%2010-5%2021.2-10.8z%22%20fill%3D%22%23db2823%22%2F%3E%3Cpath%20d%3D%22M63.2%2032c-.4.3-.2%201-.3%201.3v28.5c0%204.6%200%209.2.5%2013.8%200%20.4.3.7.6.5%206.3-3%2012.3-6%2018.4-9.3%207.5-4%2015-7.8%2022.2-12%20.3%200%201-.4.6-.8-12.8-7-25.7-13.5-38.6-20.2-1-.6-2.2-1.3-3.4-1.7z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
	background-size: 2.5em;
}
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  
  @media (min-width: 1000px) {

.header li {
	float:left;
}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
  }

  @media (max-width: 1000px) {
	.header {
		padding: 2em 2em;
	  }
  }
  

/* Components */

.hero {
	height: 50vh;
}

.img-hero {
	position: relative;
	width: 450px;
	float:right;
	margin-right: 10%;
	margin-bottom: 4em;
}

.heading-hero {
	position: absolute;
	width: 50%;
	margin-top: 12vh;
}

video {
	width: 100%;
}

.video-background {
	object-fit: cover;
	width: 100%;
	height: 70vh;
	opacity: 25%;
}

.card-large {
	width: 700px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	position: absolute;
	background: #fff;
	margin-top: -10em;
	padding: 1em 3em;
}

.container-skills {
	margin-top: 7em;
}

.container-bg-dark {
	background: #23242b;
}

.container-footer {
	display: flex;
	justify-content: space-between;
}

.text-light {
	color:#fff;
}

.img-single {
	width: 50%;
	height: auto;
	border: 1px solid #ddd;
}

.img-project {
	width: 100%;
}

.footer .img-logo {
	height: 5vh;
}

.img-logo {
	height: 7vh;
}

.img {
	max-width: 100%;
}

.heading--page-title {
	padding-bottom: 1rem;
}

h1,h2,h3 {
	font-weight:500;
}

h1 {
	font-size: 54px;
	margin:0;
}

h2 {
	font-size: 32px;

}

p, a {
	font-weight: 300;
	letter-spacing: 0.025em;
}



.text--lead-paragraph {
	font-size: 1.25em;
}

.link-title {
	font-weight:300;
	color:#55616a;
}

.link {
	font-weight:300;
	color:#000;
}

.link-light {
	color:#fff;
}


.link-hvr-underline {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
  }
  .link-hvr-underline:before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	right: 100%;
	top: 1.5em;
	background: #000;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .link-hvr-underline:hover:before, .link-hvr-underline:focus:before, .link-hvr-underline:active:before {
	right: 0;
  }

  .link-hvr-underline-light {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
  }
  .link-hvr-underline-light:before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	right: 100%;
	top: 1.5em;
	background: #fff;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .link-hvr-underline-light:hover:before, .link-hvr-underline-light:focus:before, .link-hvr-underline-light:active:before {
	right: 0;
  }

  .link-hvr-underline-gray {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
  }
  .link-hvr-underline-gray:before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	right: 100%;
	top: 1.5em;
	background: #89969e;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .link-hvr-underline-gray:hover:before, .link-hvr-underline-gray:focus:before, .link-hvr-underline-gray:active:before {
	right: 0;
  }

.link-large {
	color: #000;
	font-size: 1.25em;
	border-bottom: 2px solid #bbc4d2;
}

.link-card {
	border-bottom: 2px solid #bbc4d2;
}

h4 {
	margin: 0em;
}

.link p {
	margin: 0;
}

.link-small {
	color: #000;
	border-bottom: 2px solid #bbc4d2;
}

.list-dashed-item {
	font-weight: 500;
}

.list-dashed-item::before {
	content:"—";
	color: #bbc4d2;
	margin-right: 7px;
}

.footer-links a {
	margin-left: 2em;
}


section.main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}





.video-lightbox-container img {
	width: 100%;
	height: auto;
}


.video-lightbox-container {
	position:relative;
}




 #button {
	/* Text */
	font-size: 2em;
	
	/* Dimensions */
	width: 1.5em;
	height: 1.5em;
	
	/* Positioning */
	position: absolute;
	top: 70%;
	left: 5%;
	
	/* Styling */
	background-color: #fff;
	border: 0; 
	border-radius: 50%; 
	outline: none; 
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	
	/* ----- Transformations ----- */
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	
	/* ----- Transitions ----- */
	-webkit-transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-ms-transition: transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
  }
  
  #button:hover {
	/* ----- Transformations ----- */
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	
	/* ----- Transitions ----- */
	-webkit-transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-ms-transition: transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
  }
  
  #button > i {
	/* Text */
	color: #000;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.2);

	
	/* Positioning */
	position: relative;
	margin-top: 4px;
	margin-left: 6px;
	
	/* ----- Transitions ----- */
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-ms-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
  }
  
  #button:hover > i {
	/* Text */
	color: #55616a;
	
	/* ----- Transitions ----- */
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-ms-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
	
  }
  


  #lightbox {
	/* ----- Positioning ----- */
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	
	/* The code above makes sure that the
	lightbox covers the entire page*/
	
	/* ----- Visibility ----- */
	display: none;
	
	/* ----- Styling ----- */
	background-color: rgba(0, 0, 0, 0.80);

  }

  #lightbox video {
	width: 100%;
  }
  
  #video-wrapper {
	/* ----- Positioning ----- */
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	/* The code above makes sure the video is
	both vertically and horizontally centered
	to the screen */
	
	/* ----- Styling ----- */
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	
	/* The code above is used to add a little shadow to the video making blend in better */
  }
  
  #close-btn {
	/* ----- Text ----- */
	color: grey;
	font-size: 25px;
	
	/* ----- Positioning ----- */
	position: fixed;
	top: 3%;
	right: 3%;
	z-index: 2;
	
	/* The code above is used to put the button on the upper right corner of the lightbox */
	
	/* ----- Transformations ----- */
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	
	 /* The code above is used to initialize the scale for the button so that it can be used in transitions */
	
	/* ----- Transitions ----- */
	-webkit-transition: transform .5s ease, color .5s ease;
	-moz-transition: transform .5s ease, color .5s ease;
	-ms-transition: transform .5s ease, color .5s ease;
	-o-transition: transform .5s ease, color .5s ease;
	transition: transform .5s ease, color .5s ease;
  }
  
  #close-btn:hover {
	/* ----- Text ----- */
	color: white;
	
	/* ----- Styling ----- */
	cursor: pointer;
	
	/* ----- Transformations ----- */
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	
	  /* ----- Transitions ----- */
	-webkit-transition: transform .5s ease, color .5s ease;
	-moz-transition: transform .5s ease, color .5s ease;
	-ms-transition: transform .5s ease, color .5s ease;
	-o-transition: transform .5s ease, color .5s ease;
	transition: transform .5s ease, color .5s ease;
  }









/* Breakpoint */
@media screen and (max-width: 950px) {
	section.main {
		margin: 5rem 2rem;
	}

	.container {
		padding: 2em;
	}

	.grid {
		display: block;
	}
}

